WheelsScraper/Service References/SRUpdater/UpdaterService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUpdateFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpdateFileInfo" nillable="true" type="tns:UpdateFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpdateFileInfo" nillable="true" type="tns:ArrayOfUpdateFileInfo" />
  <xs:complexType name="UpdateFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateFileInfo" nillable="true" type="tns:UpdateFileInfo" />
</xs:schema>