WheelsScraper/Service References/SRUpdater/UpdaterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdaterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tonik-7.rc.ru/EDFServer/UpdaterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tonik-7.rc.ru/EDFServer/UpdaterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tonik-7.rc.ru/EDFServer/UpdaterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://tonik-7.rc.ru/EDFServer/UpdaterService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdaterService_GetAppFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppFiles" />
  </wsdl:message>
  <wsdl:message name="IUpdaterService_GetAppFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdaterService_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IUpdaterService_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpdaterService">
    <wsdl:operation name="GetAppFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdaterService/GetAppFiles" message="tns:IUpdaterService_GetAppFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdaterService/GetAppFilesResponse" message="tns:IUpdaterService_GetAppFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdaterService/GetFile" message="tns:IUpdaterService_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdaterService/GetFileResponse" message="tns:IUpdaterService_GetFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpdaterService" type="tns:IUpdaterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAppFiles">
      <soap:operation soapAction="http://tempuri.org/IUpdaterService/GetAppFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/IUpdaterService/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdaterService">
    <wsdl:port name="BasicHttpBinding_IUpdaterService" binding="tns:BasicHttpBinding_IUpdaterService">
      <soap:address location="http://tonik-7.rc.ru/EDFServer/UpdaterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>